body {
  background-image: linear-gradient(to right, rgb(49, 19, 203), gray);
  font-family: "Share Tech", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

#hacker-news {
  background: url("https://www.goldmansachs.com/intelligence/pages/multimedia/the-future-of-coding-is-conversation.jpg")
    no-repeat center center;
  background-size: cover;
  padding: 25px;
  color: aliceblue;
}

#btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#load-more-btn {
  background-image: linear-gradient(to bottom right, blue, gray);
  border-radius: 20px;
  border: none;
  color: aliceblue;
  font-weight: bold;
}

#load-one-btn {
  background-image: linear-gradient(to bottom right, blue, gray);
  border-radius: 20px;
  border: none;
  color: aliceblue;
  font-weight: bold;
}

#footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.img {
  width: 20px;
}
